{% extends 'inicio.twig' %}

{% block titulo 'Tienda :: Detalles de Estilo' %}
	
	{% block about %}
		<h2>{{estilo.nombreEstilo}}</h2>
	{% endblock %}

	{% block info %}
	{% endblock %}

	{% block contenido %}
		<div class="showCarr">
				<h2>Descripción</h2>
				<br>
				<br>
				{{estilo.descripcionEstilo}}
				<br><br>
				<span class="res-tit">Cuadros disponibles con estilo {{estilo.nombreEstilo}}</span>
				<br>
				<br>
				<ul id="pedidosCont">
					{% for cuadro in cuadros %}
						<li>
							<div id="res">
								<span><a href="{{app.request.basepath}}/item/{{cuadro.idCopia_cuadro}}">{{cuadro.nombreProducto}}</a></span>
							</div>
						</li>
					{% endfor %}
				</ul>
		</div>		
		<div class="pagPedidos">
			<a class="jp-previous jp-disabled">← previous</a>
			<a class="jp-current">1</a>
			<span class="jp-hidden">...</span>
			<a>2</a>
			<a>3</a>
			<a>4</a>
			<a>5</a>
			<a class="jp-hidden">6</a>
			<a class="jp-hidden">7</a>
			<a class="jp-hidden">8</a>
			<a class="jp-hidden">9</a>
			<span>...</span>
			<a>10</a>
			<a class="jp-next">next →</a>
		</div>
	{% endblock %}