{% extends 'inicio.twig' %}

{% block titulo 'Tienda :: Recuperar contraseña' %}
	
	{% block about %}
		<h2>Recupere su contraseña.</h2>
	{% endblock %}

	{% block info %}
		<h2>Información:</h2>
		<p>Introduzca su email de usuario, se le enviará una contraseña nueva.</p>
	{% endblock %}

	{% block contenido %}
		<div class="login">
			<table border="0" width="241">
			{{ form_start(form, {'method': 'POST'}) }}
			<tr>
				<td class="form">
					{{ form_row(form.email) }}
				</td>
			</tr>
			<tr>
				<td class="cent">
					{{ form_row(form.enviar) }}
				</td>
			</tr>		
			{{ form_end(form) }}
			<tr>
				<td class="cent">Si no tiene una cuenta, puede <a href="{{app.request.basepath}}/sign">registrarse aquí</a>.</td>
			</tr>
			</table>			
		</div>
	{% endblock %}