{% extends 'plantilla.twig' %}

{% block titulo 'Tienda :: Página principal' %}

{% block cuerpo %}

	<div id="header">																																																																								
		{% block topmenu %}
		<div id="header_inside">
			{% if logged %}	
				<img src="{{app.request.basepath}}/images/header.jpg" alt="setalpm" width="999" height="222" border="0" usemap="#Map" /><br />
			{% else %}
				<img src="{{app.request.basepath}}/images/header2.jpg" alt="setalpm" width="999" height="222" border="0" usemap="#Map" /><br />	
			{% endif %}					
					<ul id="menu">
						<li><a href="{{app.request.basepath}}" class="but_active">Inicio</a></li>
						{% if logged %}				
							<li><a href="{{app.request.basepath}}/mi_cuenta" class="but">Mi cuenta</a></li>
							<li><a href="{{app.request.basepath}}/ver_carrito" class="but">Mi Carrito</a></li>
							<li><a href="{{app.request.basepath}}/ver_pedidos" class="but">Mis Pedidos</a></li>
							<li><a href="{{app.request.basepath}}/logout" class="but">Salir</a></li>
						{% else %}			
							<li><a href="{{app.request.basepath}}/login" class="but">Acceder</a></li>
							<li><a href="{{app.request.basepath}}/sign" class="but">Registrarse</a></li>					
						{% endif %}
							<li>
								<form method="POST" action="{{app.request.basepath}}/buscar">
									<input type="text" name="form_keyword" />
									<input type="submit" name="form_buscar" id="form_buscar" value="Buscar" />
								</form>
							</li>
					</ul>
		</div>
		{% endblock %}
	</div>

	<div id="wrapper">																																																																											
		<div id="content_inside">
			<div id="sidebar">
				<h2>Menú</h2>																																																																			
				<ul id="list">
					<li class="color"><a href="{{app.request.basepath}}/ver_cuadros">Todos los cuadros</a></li>
					<li><a href="{{app.request.basepath}}/ver_pintores">Pintores</a></li>
					<li class="color"><a href="{{app.request.basepath}}/ver_estilos">Estilos</a></li>
					<li><a href="{{app.request.basepath}}/ver_expos">Exposiciones</a></li>
					<li class="color"><a href="{{app.request.basepath}}/../front/">Volver al Museo</a></li>
				</ul>
			</div>
			<div id="main_block">
				<div class="about">
				{% block about %}
					<h2>Sobre la tienda</h2><br />
					<p>Bienvenido a la tienda del Museo. Aquí encontrará disponibles para su compra copias de los cuadros expuestos en el Museo, ya sean propiedad del mismo o formen parte de alguna exposición actual o pasada. </p>
				{% endblock %}
				</div>
				<div class="news">
				{% block info %}
				{% endblock %}
				</div>
				<div id="items">
				{% block contenido %}
				<h2>Nuevos productos</h2>
				<br>
				{% for producto in productos %}
					<div class="item">
						{% if producto.orientacion == 'vertical' %}
							<a class="image-popup-vertical-fit" href="{{app.request.basepath}}/../img/cuadros/{{producto.nombreProducto}}/{{producto.fotoCuadro}}" title="{{producto.nombreProducto}}, de {{producto.autor}}">
								<img src="{{app.request.basepath}}/../img/cuadros/{{producto.nombreProducto}}/{{producto.fotoCuadro}}" alt="" width="170" height="200" />
							</a>
						{% elseif producto.orientacion == 'horizontal' %}
							<a class="image-popup-fit-width" href="{{app.request.basepath}}/../img/cuadros/{{producto.nombreProducto}}/{{producto.fotoCuadro}}" title="{{producto.nombreProducto}}, de {{producto.autor}}">
								<img src="{{app.request.basepath}}/../img/cuadros/{{producto.nombreProducto}}/{{producto.fotoCuadro}}" alt="" width="200" height="170" />
							</a>
						{% endif %}
						<br>
						<br>
						<p class="nombreProd"><a href="{{app.request.basepath}}/item/{{producto.idCopia_Cuadro}}">{{producto.nombreProducto}}</a> ({{producto.anioCuadro}}),</p>
						<p class="nombreProd">de <a href="{{app.request.basepath}}/pintores/{{producto.autor}}">{{producto.autor}}</a></p>
						<br>
						<span class="precio">{{producto.precio}}€</span><a href="{{app.request.basepath}}/item/{{producto.idCopia_Cuadro}}" class="buy">Ver</a>
					</div>
				{% endfor %}
			{% endblock %}
				</div>
			</div>
		</div>
	</div>
	<br>
	<div id="footer">
		<div id="footer_inside">
			<ul class="footer_menu">
				<li><a href="{{app.request.basepath}}">Página principal</a>|</li>
				<li><a href="{{app.request.basepath}}/about_us">Sobre Nosotros</a>|</li>
				<li><a href="{{app.request.basepath}}/mi_cuenta">Mi cuenta</a>|</li>
				<li><a href="{{app.request.basepath}}/contacto">Contacto</a></li>
			</ul><br /><br />																																																									
		</div>
	</div>
	{% if logged %}
    <map name="Map">
       <area shape="poly" coords="670,87,719,78,727,123,677,130" href="{{app.request.basepath}}">
       <area shape="poly" coords="776,124,818,152,793,189,751,160" href="{{app.request.basepath}}/logout">
       <area shape="poly" coords="834,52,885,61,878,105,828,96" href="{{app.request.basepath}}/ver_carrito">
	</map>
	{% endif %}
{% endblock %}