{% extends 'inicio.twig' %}

{% block titulo 'Tienda :: Mi Carrito' %}
	
	{% block about %}
		<h2>Mi carrito</h2>
		<p>Estos son los productos actualmente en su carrito. Cuando termine de elegir productos, confirme el carrito para realizar el pedido.</p>
	{% endblock %}

	{% block info %}
	{% endblock %}

	{% block contenido %}
		<div class="showCarr">
			<table style="width:100%;" class="table-show-carr">
			{{ form_start(form, {'method': 'POST'}) }}
			<tr>
				<th class="th-show-carr">Nombre</th>
				<th class="th-show-carr">Precio</th>
				<th class="th-show-carr">Unidades</th>
				<th class="th-show-carr">IVA</th>
				<th class="th-show-carr">Total</th>
				<th class="th-show-carr">#</th>
			</tr>
				{% for linea in lineas %}
				{% if linea.idLinea_Carrito is divisibleby(2) %}
				<tr>
					<td class="td-show-carr par">
						<a href="{{app.request.basepath}}/item/{{linea.idCopia_Cuadro}}">{{linea.nombreProducto}}</a>
					</td>
					<td class="td-show-carr par">
						{{linea.precio}}€
					</td>
					<td class="td-show-carr par">
						{{linea.unidades}}
					</td>
					<td class="td-show-carr par">
						{{linea.IVA}}%
					</td>
					<td class="td-show-carr par">
						{{linea.totalLinea}}€
					</td>
					<td class="td-show-carr par">
						<input type="checkbox" name="cb_borrarLineas[]" id="cb_borrarLineas[]" value="{{linea.idLinea_Carrito}}"/>
					</td>
				</tr>
				{% else %}
				<tr>
					<td class="td-show-carr impar">
						<a href="{{app.request.basepath}}/item/{{linea.idCopia_Cuadro}}">{{linea.nombreProducto}}</a>
					</td>
					<td class="td-show-carr impar">
						{{linea.precio}}€
					</td>
					<td class="td-show-carr impar">
						{{linea.unidades}}
					</td>
					<td class="td-show-carr impar">
						{{linea.IVA}}%
					</td>
					<td class="td-show-carr impar">
						{{linea.totalLinea}}€
					</td>
					<td class="td-show-carr impar">
						<input type="checkbox" name="cb_borrarLineas[]" id="cb_borrarLineas[]" value="{{linea.idLinea_Carrito}}"/>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
				<tr>
					<td colspan="3"></td>
					<th class="th-show-carr">
						TOTAL:
					</th>
					<th class="th-show-carr">
						{{totalCarrito}}€
					</th>
				</tr>
				<tr>
					<td class="td-opt-carr" colspan="3"></td>
					<td class="td-opt-carr">
						{{ form_row(form.borrarLineas) }}
					{{ form_end(form) }}
					</td>
					<td class="td-opt-carr">
						<a href="{{app.request.basepath}}/confirma_compra"><button id="form_confirmar">Confirmar</button></a>
					</td>
				</tr>
			</table>
		</div>
	{% endblock %}