{% extends 'inicio.twig' %}

{% block titulo 'Tienda :: Mis Pedidos' %}
	
	{% block about %}
		<h2>Mis pedidos</h2>
		<p>Aquí puede ver los pedidos que ha realizado, los detalles de los mismos y el estado en el que se encuentran</p>
	{% endblock %}

	{% block info %}
	{% endblock %}

	{% block contenido %}
		<div class="showCarr">
			<table style="width:100%;" class="table-show-carr">
			<tr>
				<th class="th-show-carr">#</th>
				<th class="th-show-carr">Fecha</th>
				<th class="th-show-carr">Importe</th>
				<th class="th-show-carr">Estado</th>
			</tr>
				<ul id="pedidosCont">
				{% for pedido in pedidos %}
				<li>
					<tr>
						<td class="td-show-ped">
							{{loop.index}}
						</td>
						<td class="td-show-ped">
							<a href="{{app.request.basepath}}/pedidos/pedido/{{pedido.idPedido}}">{{pedido.fecha}}</a>
						</td>
						<td class="td-show-ped">
							<a href="{{app.request.basepath}}/pedidos/pedido/{{pedido.idPedido}}">{{pedido.precioTotal}}€</a>
						</td>
						<td class="td-show-ped">
							<a href="{{app.request.basepath}}/pedidos/pedido/{{pedido.idPedido}}">{{pedido.estado}}</a>
						</td>
					</tr>
				</li>
				{% endfor %}
				</ul>
			</table>
		</div>		
		<div class="pagPedidos">
			<a class="jp-previous jp-disabled">← previous</a>
			<a class="jp-current">1</a>
			<span class="jp-hidden">...</span>
			<a>2</a>
			<a>3</a>
			<a>4</a>
			<a>5</a>
			<a class="jp-hidden">6</a>
			<a class="jp-hidden">7</a>
			<a class="jp-hidden">8</a>
			<a class="jp-hidden">9</a>
			<span>...</span>
			<a>10</a>
			<a class="jp-next">next →</a>
		</div>
	{% endblock %}