{% extends 'inicio.twig' %}

{% block titulo 'Ficha de cuadro' %}

	{% block action %}
			<table class="tablacrud">
					<tr class="trcab">
						<th>Cuadro #{{cuadro.idCuadro}}</th>
					</tr>
						<tr>
							<td colspan="4">
								{{ form_start(form, {'method': 'POST'}) }}
								{{ form_row(form.idCuadro, {'attr': {'value': cuadro.idCuadro }}) }}
								<table class="bodycrud" rules="all">
									<tbody>
										<tr>
											<td class="perla">
												{{ form_row(form.nombreCuadro, {'attr': {'value': cuadro.nombreCuadro, 'class': 'txtdcha' }}) }}
											</td>
											<td class="grey">
												<label for="">Foto de Cuadro(ACTUAL)</label>
												<br>
												<img class="foto" src="{{app.request.basepath}}/../img/cuadros/{{cuadro.nombreCuadro}}/{{cuadro.fotoCuadro}}" alt="">
												<br>
												{{ form_row(form.fotoCuadro) }}
											</td>
										</tr>
										<tr>
											<td class="perla">
												<label for="selpintores">Pintor</label>
												<select name="selpintores" id="selpintores">
													{% for pintor in pintores %}
														{% if cuadro.idPintor == pintor.idPintor %}
															<option value="{{pintor.idPintor}}" SELECTED>{{pintor.nombrePintor}}</option>
														{% else %}
															<option value="{{pintor.idPintor}}">{{pintor.nombrePintor}}</option>
														{% endif %}
													{% endfor %}
												</select>
												<br>
												<label for="selestilos">Estilo</label>
												<select name="selestilos" id="selestilos">
													{% for estilo in estilos %}
														{% if cuadro.idEstilo == estilo.idEstilo %}
															<option value="{{estilo.idEstilo}}" SELECTED>{{estilo.nombreEstilo}}</option>
														{% else %}
															<option value="{{estilo.idEstilo}}">{{estilo.nombreEstilo}}</option>
														{% endif %}
													{% endfor %}
												</select>
											</td>
											<td class="grey">
												<label for="selexpos">Exposicion</label>
												<select name="selexpos" id="selexpos">
													{% for exposicion in exposiciones %}
														{% if cuadro.idExposicion == exposicion.idExposicion %}
															<option value="{{exposicion.idExposicion}}" SELECTED>{{exposicion.nombreExposicion}}</option>
														{% else %}
															<option value="{{exposicion.idExposicion}}">{{exposicion.nombreExposicion}}</option>
														{% endif %}
													{% endfor %}
												</select>
											</td>
										</tr>
										<tr>
											<td class="perla" colspan="3">
												<label for="">Descripción del cuadro::</label><br>
												<textarea name="descCuadro" id="descCuadro" cols="100" rows="20">{{cuadro.descripcionCuadro}}</textarea>
											</td>
										</tr>
										<tr>
											<td class="grey" colspan="2">
												{{ form_row(form.guardar) }}
											</td>
										</tr>
									</tbody>
								</table>
								{{ form_end(form) }}
							</td>
						</tr>
				</table>
	{% endblock %}