{% extends 'inicio.twig' %}

{% block titulo 'Añadir Sala del Museo' %}

	{% block action %}
			<table class="tablacrud">
					<tr class="trcab">
						<th>Formulario de alta de Sala</th>
					</tr>
						<tr>
							<td colspan="4">
								{{ form_start(form, {'method': 'POST'}) }}
								<table class="bodycrud" rules="all">
									<tbody>
										<tr>
											<td class="perla">
												{{ form_row(form.nombreSala) }}
											</td>
											<td class="perla">
												<label for="selplantas">Planta</label>
												<select name="selplantas" id="selplantas">
													<option value=""></option>
													{% for planta in plantas %}
														<option value="{{planta.idPlanta}}">{{planta.numeroPlanta}}</option>
													{% endfor %}
												</select>
											</td>
										</tr>
										<tr>
											<td class="grey" colspan="2">
												Descripción de sala:
												<br>
												<textarea name="descSala" id="descSala" cols="100" rows="20"></textarea>
											</td>
										</tr>
										<tr>
											<td class="perla" colspan="2">
												{{form_row(form.guardar)}}
											</td>
										</tr>
									</tbody>
								</table>
								{{ form_end(form) }}
							</td>
						</tr>
				</table>
	{% endblock %}