{% extends 'inicio.twig' %}

{% block titulo 'Exposiciones' %}

	{% block action %}
			<table class="tablacrud">
					<tr class="trcab" >
						<th colspan="3">
							<a href="{{app.request.basepath}}/museo/exposiciones_museo/add"><input type="button" name="btadd" id="btadd" class="btadd" value="Añadir Registro" /></a>
							{{ form_start(form, {'method': 'POST'}) }}
							{{ form_row(form.Borrar)}}
						</th>
					</tr>
					<tr class="trcab">
						<th>Lista de Exposiciones</th>
					</tr>
					{% for exposicion in exposiciones %}
						<input type="hidden" name="hidid" value="{{exposicion.idExposicion}}"/>
						<tr>
							<td colspan="4">
								<table class="bodycrud" rules="all">
									<thead>
										<tr class="trtit">
											<th>
												idExposicion
											</th>
											<th>
												nombreExposicion
											</th>
											<th>#</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="perla">
												<a href="{{app.request.basepath}}/museo/exposiciones_museo/exposicion/{{exposicion.idExposicion}}">
												{{exposicion.idExposicion}}
												</a>
											</td>
											<td class="grey">
												<a href="{{app.request.basepath}}/museo/exposiciones_museo/exposicion/{{exposicion.idExposicion}}">
												{{exposicion.nombreExposicion}}
												</a>
											</td>
											<td class="perla">
												<input type="checkbox" name="cb_borrar[]" id="cb_borrar[]" value="{{exposicion.idExposicion}}"/>
											</td>
										</tr>
					{% endfor %}
									</tbody>

								</table>
							</td>
						</tr>
					{{ form_end(form) }}
				</table>
	{% endblock %}