{% extends 'inicio.twig' %}

{% block titulo 'Salas del Museo' %}

	{% block action %}
			<table class="tablacrud">
					<tr class="trcab" >
						<th colspan="3">
							<a href="{{app.request.basepath}}/museo/salas_museo/add"><input type="button" name="btadd" id="btadd" class="btadd" value="Añadir Registro" /></a>
							{{ form_start(form, {'method': 'POST'}) }}
							{{ form_row(form.Borrar)}}
						</th>
					</tr>
					<tr class="trcab">
						<th>Lista de Salas</th>
					</tr>
					{% for sala in salas %}
						<input type="hidden" name="hidid" value="{{sala.idSala}}"/>
						<tr>
							<td colspan="4">
								<table class="bodycrud" rules="all">
									<thead>
										<tr class="trtit">
											<th>
												idSala
											</th>
											<th>
												nombreSala
											</th>
											<th>#</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="perla">
												<a href="{{app.request.basepath}}/museo/salas_museo/sala/{{sala.idSala}}">
												{{sala.idSala}}
												</a>
											</td>
											<td class="grey">
												<a href="{{app.request.basepath}}/museo/salas_museo/sala/{{sala.idSala}}">
												{{sala.nombreSala}}
												</a>
											</td>
											<td class="perla">
												<input type="checkbox" name="cb_borrar[]" id="cb_borrar[]" value="{{sala.idSala}}"/>
											</td>
										</tr>
					{% endfor %}
									</tbody>

								</table>
							</td>
						</tr>
					{{ form_end(form) }}
				</table>
	{% endblock %}