{% extends 'inicio.twig' %}

{% block titulo 'Plantas del Museo' %}

	{% block action %}
			<table class="tablacrud">
				<thead>
					<tr class="trcab">
						<th colspan="3">Lista de Plantas</th>
					</tr>
					<tr class="trtit">
						<th>
							idPlanta
						</th>
						<th>
							numeroPlanta
						</th>
						<th>#</th>
					</tr>
				</thead>
					{% for planta in pager %}
						<input type="hidden" name="hidid" value="{{planta.idPlanta}}"/>
						<tr>
							<td class="perla">
								<a href="{{app.request.basepath}}/museo/plantas_museo/planta/{{planta.idPlanta}}">{{planta.idPlanta}}</a>
							</td>
							<td class="grey">
								<a href="{{app.request.basepath}}/museo/plantas_museo/planta/{{planta.idPlanta}}">{{planta.numeroPlanta}}</a>
							</td>
							<td class="perla">
								<input type="checkbox" name="cb_borrar[]" id="cb_borrar[]" value="{{planta.idPlanta}}"/>
							</td>
						</tr>
					{% endfor %}
					<tr>
						<td class="grey" colspan="3">
							{{ form_start(form, {'method': 'POST'}) }}
								{{ form_row(form.addRegistro)}}	
								{{ form_row(form.borrar)}}	
							{{ form_end(form) }}						
						</td>
					</tr>
				</table>

				{{ htmlPagination|raw }}
	{% endblock %}