{% extends 'inicio.twig' %}

{% block titulo 'Ficha de Carrito' %}

	{% block action %}
			<table class="tablacrud">
					<tr class="trcab">
						<th>Detalles de Carrito #{{carrito.idCarrito}}</th>
					</tr>
						<tr>
							<td colspan="4">
								{{ form_start(form, {'method': 'POST'}) }}
								{{ form_row(form.idCarrito, {'attr': {'value': carrito.idCarrito }}) }}
								<table class="bodycrud" rules="all">
									<tbody>
										<tr>
											<td class="perla" colspan="3">
												{{ form_row(form.email, {'attr': {'readonly':'readonly' ,'value': carrito.email }}) }}
											</td>
											<td class="grey">
												{{ form_row(form.fechaCreacion, {'attr': {'readonly':'readonly' ,'value': carrito.fechaCreacion}}) }}
											</td>
											<td class="perla">
												{{ form_row(form.fechaExpir, {'attr': {'readonly':'readonly' ,'value': carrito.fechaExpir}}) }}
											</td>
										</tr>
										<tr class="trcab">
											<th colspan="7">Lineas del Carrito</th>
										</tr>
										{% if isLineas %}
											{% for linea in lineas %}
											<tr>
												<td class="grey" colspan="2">
													<a href="{{app.request.basepath}}/tienda/carritos/carrito/{{carrito.idCarrito}}/linea/{{linea.idLinea_Carrito}}">
														Línea #{{linea.idLinea_Carrito}}
													</a>
												</td>
												<td class="grey" colspan="2">
													<a href="{{app.request.basepath}}/tienda/carritos/carrito/{{carrito.idCarrito}}/linea/{{linea.idLinea_Carrito}}">
														Total Línea: {{linea.totalLinea}}
													</a>
												</td>												
												<td class="grey">
													<input type="checkbox" name="cb_borrarLineas[]" id="cb_borrarLineas[]" value="{{linea.idLinea_Carrito}}"/>
												</td>
											<tr>
											{% endfor %}
										{% endif %}
											<td class="grey" colspan="5">
												{{form_row(form.borrarLineas)}}
											</td>
										</tr>
										<tr class="trcab">
											<th colspan="5">Añadir línea al carrito</th>
										</tr>
										<tr>
											<td class="grey">{{ form_row(form.idCopia_Cuadro) }}</td>
											<td class="perla">{{ form_row(form.nombreProducto) }}</td>
											<td class="grey">{{ form_row(form.unidades) }}</td>
											<td class="perla">{{ form_row(form.precio) }}</td>
											<td class="grey">{{ form_row(form.IVA) }}</td>
										</tr>
										<tr>
											<td class="grey" colspan="5">
												{{form_row(form.addLinea)}}
											</td>
										</tr>
									</tbody>
								</table>
								{{ form_end(form) }}
							</td>
						</tr>
				</table>
	{% endblock %}