{% extends 'inicio.twig' %}

{% block titulo 'Pedidos' %}

	{% block action %}
			<table class="tablacrud">
				<thead>
					<tr class="trcab">
						<th colspan="4">Histórico de Pedidos</th>
					</tr>
					<tr class="trtit">
						<th>
							idPedido
						</th>
						<th>
							email
						</th>
						<th>
							estado
						</th>
						<th>#</th>
					</tr>
				</thead>
					{% for pedido in pedidos %}
						<input type="hidden" name="hidid" value="{{pedido.idPedido}}"/>
						<tr>
							<td class="perla">
								<a href="{{app.request.basepath}}/tienda/pedidos/pedido/{{pedido.idPedido}}">{{pedido.idPedido}}</a>
							</td>
							<td class="grey">
								<a href="{{app.request.basepath}}/tienda/pedidos/pedido/{{pedido.idPedido}}">{{pedido.email}}</a>
							</td>
							<td class="perla">
								{{pedido.estado}}
							</td>
							<td class="grey">
								<input type="checkbox" name="cb_borrar[]" id="cb_borrar[]" value="{{pedido.idPedido}}"/>
							</td>
						</tr>
				{% endfor %}
					<tr>
						<td class="grey" colspan="4">
							{{ form_start(form, {'method': 'POST'}) }}
								{{ form_row(form.addRegistro)}}	
								{{ form_row(form.borrar)}}	
							{{ form_end(form) }}						
						</td>
					</tr>
				</table>
	{% endblock %}