{% extends 'inicio.twig' %}

{% block titulo 'Añadir administrador' %}
	{% block action %}
			<table class="tablacrud">
					<tr class="trcab">
						<th>Formulario de alta de Administrador</th>
					</tr>
						<tr>
							<td colspan="4">
								{{ form_start(form, {'method': 'POST'}) }}
								<table class="bodycrud" rules="all">
									<tbody>
										<tr>
											<td class="perla">
												{{ form_row(form.email) }}
											</td>
											<td class="grey">
												{{ form_row(form.clave) }}
											</td>
										</tr>
										<tr>
											<td class="grey" colspan="2">
												{{form_row(form.guardar)}}
											</td>
										</tr>
									</tbody>
								</table>
								{{ form_end(form) }}
							</td>
						</tr>
				</table>
	{% endblock %}