{% extends 'inicio.twig' %}

{% block titulo 'Administradores' %}

	{% block action %}
			<table class="tablacrud">
				<thead>
					<tr class="trcab">
						<th colspan="3">Lista de Administradores</th>
					</tr>
					<tr class="trtit">
						<th>
							email
						</th>
						<th>#</th>
					</tr>
				</thead>
					{% for admin in pager %}
						<input type="hidden" name="hidid" value="{{admin.email}}"/>
						<tr>
							<td class="perla">
								<a href="{{app.request.basepath}}/usuarios/admins/admin/{{admin.email}}">{{admin.email}}</a>
							</td>
							<td class="perla">
								<input type="checkbox" name="cb_borrar[]" id="cb_borrar[]" value="{{admin.email}}"/>
							</td>
						</tr>
					{% endfor %}
					<tr>
						<td class="grey" colspan="3">
							{{ form_start(form, {'method': 'POST'}) }}
								{{ form_row(form.addRegistro)}}	
								{{ form_row(form.borrar)}}	
							{{ form_end(form) }}						
						</td>
					</tr>
				</table>
				{{ htmlPagination|raw }}
	{% endblock %}