{% extends 'inicio.twig' %}

{% block titulo 'Pintores' %}

	{% block action %}
			<table class="tablacrud" id="tablacrud">
				<thead>
					<tr class="trcab">
						<th colspan="3">Lista de Pintores</th>
					</tr>
					<tr class="trtit">
						<th>
							idPintor
						</th>
						<th>
							nombrePintor
						</th>
						<th>#</th>
					</tr>							
				</thead>
					{% for result in pager %}
						<tr>
							<input type="hidden" name="hidid" value="{{result.idPintor}}"/>
							<td class="perla">
								<a href="{{app.request.basepath}}/pintores/pintor/{{result.idPintor}}">{{result.idPintor}}</a>
							</td>
							<td class="grey">
								<a href="{{app.request.basepath}}/pintores/pintor/{{result.idPintor}}">{{result.nombrePintor}}</a>
							</td>
							<td class="perla">
								<input type="checkbox" name="cb_borrar[]" id="cb_borrar[]" value="{{result.idPintor}}"/>
							</td>
						</tr>					
					{% endfor %}
					<tr>
						<td class="grey" colspan="3">
							{{ form_start(form, {'method': 'POST'}) }}
								{{ form_row(form.addRegistro)}}	
								{{ form_row(form.borrar)}}	
							{{ form_end(form) }}						
						</td>
					</tr>
				</table>

				{{ htmlPagination|raw }}
	{% endblock %}