{% extends 'plantilla.twig' %}

{% block titulo 'Inicio de sesión' %}

{% block contenido %}

		<div class="loginout">
			{% block log %}

				{{ form_start(form, {'method': 'POST'}) }}
				{{ form_row(form.usuario) }}
				{{ form_row(form.clave) }}
				{{ form_row(form.clavecifrada) }}
				<br><br>
				{{ form_row(form.recordar) }}
				<br>
				<input type="submit" name="btLogin" id="btLogin" value="Acceder" onclick="cifrar()">
				{{ form_end(form) }}
				
			{% endblock %}
		</div>
	    

{% endblock %}