{% extends 'inicio.twig' %}

{% block titulo %}{{titulo}}{% endblock %}

	{% block action %}
			{{ msgoperacion }}
			<br>
			<a href="{{app.request.basepath}}/{{seccion}}">Volver a {{seccion}}</a>
	{% endblock %}