{% extends 'plantilla.twig' %}

{% block titulo 'Inicio' %}

{% block contenido %}


	{% block action %}
		
	{% endblock %}
<div id="cont" class="cont">

	<div id="menuizq" class="menuizq">
		<div id="sections" class="sections">
			<ul id="listaSec" class="listaSec">
				<li id="lipintores" class="lipintores" name="lipintores" value="lipintores"><a href="{{app.request.basepath}}/Pintores">Pintores</a></li>
				<li id="licuadros" class="licuadros" name="licuadros" value="licuadros"><a href="{{app.request.basepath}}/Cuadros">Cuadros</a></li>
				<li id="limuseo" class="limuseo" name="limuseo" value="limuseo"><a href="{{app.request.basepath}}/Museo">Museo</a></li>
				<li id="liusuarios" class="liusuarios" name="liusuarios" value="liusuarios"><a href="{{app.request.basepath}}/Usuarios">Usuarios</a></li>
				<li id="litienda" name="litienda" class="litienda" value="litienda"><a href="{{app.request.basepath}}/Tienda">Tienda</a></li>
			</ul>
		</div>
	</div>

	<div id="titulo" class="titulo">
	{% block cabecera %}
	    <h1>Pagina de Inicio</h1>
	    <div id="panelcontrol" class="panelcontrol">
		    <ul id="listaControl" class="listaControl">
				<li id="elem3" name="elem3" class="elem3" value="elem3">Inicio</li>
				<li id="elem2" name="elem2" class="elem2" value="elem2">Panel de Control</li>
				<li id="logout" name="logout" class="logout" value="logout"><a href="{{app.request.basepath}}/logout">Logout</a></li>
			</ul>
		</div>
	{% endblock %}
	 </div>

	<div id="action" class="action">

	</div>
</div>

{% endblock %}
